#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: sariahleao # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9FeteUKVosKwWoQla6bkNegdCFV6F0+In8t3UbKdqwYkiZKIK4Sf+vfrlIoAthg13z3yOdPAs7pp0wtto6tCTEycphz2qcrkqP77Zlg2l/Ww0jUqw1JuUZJU4qsBvLwTRdFTzcpdMvHzpMT5Z6wTOujJ4ePxPgof9Dnp5cBF/WVAOiaYhL0zAnxJa1pUWLgI5hxhRN8M6taZhi6vzKJmnQydNhQ5BQYiB1ta2iCi9L1U/RH5BhYOOrsbaOrEfXGbkm9+uCcdEuAd92GMBBGtwdj6YNZytO9d+8O1G6e3nlQaCDAbddU1xDYrxAsebvN+0OFSMtchBbIyp0FabEwFr sariahleao@sariahleao

    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
